extends layout.pug

block content

  article.portfolio-intro

   
    h1 Welcome to my portfolio

    
    p Hello and welcome to my portfolio site. Here you find the projects I've worked on so far during my studies at Treehouse. Feel free to look at them and browse through them! I would appreciate if you would drop me an email with any feedback. Thank you! 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in projects
        

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.description}`)
            h5= `${project.project_name}`

